:root {
  --bg-color-1: #fcde67;
  --bg-color-2: #5bccf6;
  --text-color-1:#691c71;
  --text-color-2:#092c39;
  --border-todo: 0.1em solid #e889ff;
  --shadow: 0px 0px 15px 4px #4547ebdb;
  --clickable:#ac49d7;
  --checkbox-hoover:#885faa83;
  --filtered:  contrast(1.2) brightness(1.5) hue-rotate(191deg) drop-shadow(4px -3px 7px #d816d29b);
  --b-shadow: 11px 11px 11px  #4547ebdb, -11px -11px 11px #f2dafaac;

}
/* data-* attribute: */
[data-theme='dark'] {
  --bg-color-1: #1d2023;
  --bg-color-2: #474b47;
  --text-color-1:#61892f;
  --text-color-2:#95bd5d;
  --border-todo: 0.1em solid rgb(129, 133, 129);;
  --shadow: 0px 0px 15px 1px #a3cc947a;
  --clickable:#73a036;
  --checkbox-hoover:#4e594eda;
  --filtered:invert(0) drop-shadow(4px -3px 7px #60892fd6);
  --b-shadow: 11px 11px 11px  #080101db, -11px -11px 11px #dddddd29;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  min-width: 300px;
  border: 4px solid var(--text-color-1);
  margin: auto;
  background-color:  var(--bg-color-2);
  display: grid;
  justify-items: center;
  align-content: space-between;
  grid-template-rows:minmax(10px, 100px) minmax(40px, 150px) min(200px)r minmax(10px, 100px);
}

input,
button,
label,
.error-mess,
.loading-mess {
  font-size: calc(10px + 1.5vmin);
  font-family: inherit;
  border: none;
  border-radius: 50px;
  padding: 0.5em 0.5em;

}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: var(--bg-color-1);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-1);
}
