:root {
  --bg-color-1: #f9f2dd;
  --bg-color-2: #ffeac8;
  --text-color-1: #4c4231;
  --text-color-2: #503104;
  --border-todo: 0.1px solid #b9823b87;
  --shadow: 0px 0px 6px 1px #ba863391;
  --clickable: #9a886b;
  --checkbox-hoover: #ad720d58;
  /* --filtered: sepia(100%) drop-shadow(15px 15px 1px #5b4f3b35); */
  --filtered: sepia(100%);
  --b-shadow: 6px 6px 5px #ba863391, -5px -6px 5px #fff7f5b7;
}

[data-theme='dark'] {
  --bg-color-1: #1d2023;
  --bg-color-2: #474b47;
  --text-color-1: #61892f;
  --text-color-2: #95bd5d;
  --border-todo: 0.1px solid rgba(129, 133, 129, 0.764);
  --shadow: 0px 0px 6px 1px #a3cc947a;
  --clickable: #73a036;
  --checkbox-hoover: #4e594eda;
  --filtered: invert(0);
  /* --filtered: invert(0) drop-shadow(15px 15px 1px #60892f3d); */
  --b-shadow: 6px 6px 5px #080101a1, -4px -6px 5px #dddddd29;
}

html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Caveat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100svh;
  min-width: 300px;
  margin: auto;
  background-color: var(--bg-color-2);
}

input,
button,
label,
.error-mess,
.loading-mess {
  font-size: calc(13px + 2.3vmin);
  font-family: inherit;
  border: none;
  border-radius: 50px;
  padding: 0.5em 0.5em;
}
.error-mess,
.loading-mess {
  margin: 0 auto;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: var(--bg-color-1);
}

::-webkit-scrollbar-thumb {
  background: var(--clickable);
}
