.add-and-search-div {
  margin: 1.5rem 0;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--bg-color-2);
}

.add-search-imp {
  box-shadow: var(--b-shadow);
  background-color: var(--bg-color-2);
  font-weight: 600;
  width: 80%;
  min-height: 3vh;
  max-height: 4vh;
}

input:hover {
  background-color: var(--checkbox-hoover);
}

input:focus {
  outline: none;
  background-color: var(--bg-color-1);
  color: var(--text-color-2);
}

::placeholder {
  color: var(--text-color-2);
  opacity: 0.9;
}
