
.add-search-imp{
  box-shadow: var(--b-shadow);
  background-color:var(--bg-color-2);
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: 600;
}

.add-and-search-div{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: stretch;
  background-color:  var(--bg-color-2);
}

input:hover{
  background-color:var(--checkbox-hoover);
}

input:focus {
  outline: none;
  background-color: var(--bg-color-1);
  color: var(--text-color-2);
}

::placeholder {
  color:var(--text-color-2) ;
  opacity: 0.9;
}




