.app-footer {
  width: 100%;
  background-color: var(--bg-color-1);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items:center;
  font-size: calc(10px + 2vmin);
  position: sticky;
  bottom:0;
  z-index: 3;
}

.snake {
  height: 8.5vmin;
  pointer-events: none;
  filter: drop-shadow(4px -3px 7px #bec3be9b);
}

@media (prefers-reduced-motion: no-preference) {
  .snake {
    animation: App-logo-spin infinite 60s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.time-par{
  white-space: nowrap;
}