.app-header{
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: calc(13px + 2vmin);
  position: sticky;
  top:0;
  z-index: 3;
}

.moon-btn{
  fill:var(--text-color-1);
}

.sun-btn{
  fill:#d3f93d;
}