.app-header{
  background-color: var(--bg-color-1);
  color: var(--text-color-2);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top:0;
  z-index: 3;
}

.moon-btn{
  fill:#262697;
}

.sun-btn{
  fill:#f9f93d;
}