.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  list-style-type: none;
  border: 0.1em solid rgb(16, 180, 16);
  margin-top: 1vh;
  border-radius: 8px;
  background-color: var(--bg-color-1);
  color:rgb(242, 61, 255);
  padding: 0.5rem;


}

.content-imp{
  background-color: var(--bg-color-1);
  color: var(--text-color-2);
  text-transform: capitalize;
  font-weight: 500;
  width: 50vw;
}


/* .timestamp{
  font-weight: 300;
  align-self: flex-end;
} */

.btns{
  display: flex;
  flex-wrap: nowrap;
  align-items:center ;
  align-self: flex-end;
  height: 100%;
  box-sizing: border-box;

}

/* .checkmark{
  background-color: red;
} */

.edit-btn{
  color: green;
   margin-left: 0.5rem;
}
.edit-btn:hover{
  box-shadow: 0px 0px 10px 1px rgba(0, 128, 0, 0.7);
  padding: 4px;
}

.del-btn{
  color: red;
}
.del-btn:hover{
  box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.7);
  padding: 4px;
}

.checkbox-inp,
.edit-btn,
.del-btn{
  width:2rem;
  height: 2rem;
  border-radius: 50% ;
  /* aspect-ratio: 1; */
}

.checkbox-inp{
  border-radius: 30px;
   background-color: red;
   color: blueviolet;
   
  }


button {
  color: #117b09;
  font-weight: 500;
  align-self: flex-end;

}

/* ============================ */

.smiley::after {
  content:  "😩";
  font-size: 3rem;
}
.toggle:checked ~ .smiley::after {
  content:"😃";
  font-size: 3rem;
}
